﻿<h1 id="tableLabel">Person</h1>

<p>Lista personas</p>

<i class="btn btn-info mb-1" [routerLinkActive]="['link-active']" [routerLink]="['/person/create']">Create person</i>

<p *ngIf="!people"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="people">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Identificacion</th>
    <th>Email</th>
    <th>Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of people">
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.lastName }}</td>
    <td>{{ person.identification }}</td>
    <td>{{ person.email }}</td>
    <td>
      <i class="btn btn-outline-primary" [routerLinkActive]="['link-active']" [routerLink]="['/person/details', person.id]">Details</i>
      <i class="btn btn-outline-secondary" [routerLinkActive]="['link-active']" [routerLink]="['/person/update', person.id]">Update</i>
      <i class="btn btn-outline-danger" [routerLinkActive]="['link-active']" [routerLink]="['/person/delete', person.id]">Delete</i>
    </td>
  </tr>
  </tbody>
</table>
