﻿<h1 id="tableLabel">Person Details</h1>

<form>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="person.name" name="name" disabled />
  </div>
  <div class="form-group">
    <label for="lastName">Apellido</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName" disabled />
  </div>
  <div class="form-group">
    <label for="idType">Tipo Id</label>
    <input type="text" class="form-control" id="idType" [(ngModel)]="person.identificationTypeId" name="idType" disabled />
  </div>
  <div class="form-group">
    <label for="identification">Identificacion</label>
    <input type="text" class="form-control" id="identification" [(ngModel)]="person.identification" name="identification" disabled />
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="text" class="form-control" id="password" [(ngModel)]="person.password" name="password" disabled />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="person.email" name="email" disabled />
  </div>
  <input type="submit" class="btn btn-info" (click)="goBack()" value="Regresar" />
</form>
