﻿<h1 id="tableLabel">Update Person</h1>

<form>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="person.name" name="name" />
  </div>
  <div class="form-group">
    <label for="lastName">Apellido</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="person.lastName" name="lastName" />
  </div>
  <div class="form-group">
    <label for="idType">Tipo Id</label>
    <select class="form-control" id="idType" [(ngModel)]="person.identificationTypeId" name="idType" >
      <option *ngFor="let it of idTypes" [value]="it.id">{{ it.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="identification">Identificacion</label>
    <input type="text" class="form-control" id="identification" [(ngModel)]="person.identification" name="identification" />
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="text" class="form-control" id="password" [(ngModel)]="person.password" name="password" />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" [(ngModel)]="person.email" name="email" />
  </div>
  <input type="submit" class="btn btn-info" (click)="updatePerson()" value="Update" />
</form>
